@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    position: relative;
    max-width: 720px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    /*IE(Internet Explorer)・Microsoft Edgeへの対応*/
    -ms-overflow-style: none;
    /*Firefoxへの対応*/
    scrollbar-width: none;
}

 /*Google Chrome、Safariへの対応*/
body::-webkit-scrollbar{
    display: none;
}

a:hover {
    color: #6b21a8;
    text-decoration: underline;
}

.markdown-preview h1 {
    font-size: 1.5rem;
    font-weight: 800
},
.markdown-preview h6 {
font-weight: 800;
}
.markdown-preview h2 {
font-size: 1.3rem;
font-weight: 800

}
.markdown-preview h3 {
font-size: 1.1rem;
font-weight: 800

}
.markdown-preview h4 {
font-size: 1.1rem;
font-weight: 800

}
.markdown-preview h5 {
font-size: 1.1rem;
font-weight: 800

}
.markdown-preview h6 {
font-size: 1.1rem;
font-weight: 800

}
.markdown-preview p{
    margin-top: .3rem;
    margin-bottom: 1.1rem;
    color: #f3f4f6;
}
.markdown-preview p code {
background-color: #525252;
color: #ff8000;
border-radius:0.2rem;
padding-left:0.2rem;
padding-right:0.2rem;
font-size:0.8rem;
}
.markdown-preview p a {
color: #0000ee;
}
.markdown-preview p a:visited {
color: #551a8b;
}
.markdown-preview ul li {
list-style: inside;
}
.markdown-preview ul li ul {
margin-left: 1rem;
}
.markdown-preview ol li {
list-style: inside;
list-style-type: decimal;
}
.markdown-preview table {
border: 1px solid #afadad;
}
.markdown-preview table thead {
background-color: #1a1a1a;
}
.markdown-preview table thead tr {
border-bottom: 1px solid #afadad;
}
.markdown-preview table thead tr th {
border-right: 1px solid #afadad;
}
.markdown-preview table thead tr th:last-child {
border-right: none;
}
.markdown-preview tbody tr {
border-bottom: 1px solid #afadad;
}
.markdown-preview tbody tr:last-child {
border-bottom: none;
}
.markdown-preview tbody tr td {
border-right: 1px solid #afadad;
}
.markdown-preview tbody tr td:last-child {
border-right: none;
}
.markdown-preview blockquote {
font-size: 0.95rem;
margin: 1.4rem 0;
border-left: 3px solid #b3bfc7;
padding: 2px 0 2px 0.7em;
color: #626e77;
}