.SkillComponent{
    font-size: 1.4em;
    height:1em;
    max-width:100%;
    width: 20%;
    min-width: 7em;
    margin:.5em;
    color:white;
    font-weight: bold;
    background: black;
    border-radius: .5em;
    padding:.5em;
    float: left;
    flex-grow:1;
    position:relative;
    border: 1px solid #8080ed;
    box-shadow: 0px 0px .1em #8080ed;

    text-align: center;

    text-shadow: 
      0 0 1px #8080ed, 0 0 3px #8080ed, 
      0 0 6px #8080ed;
}

.SkillComponent img{
    height:100%;
    width:auto;
}



